/* responsive csss starts */
@media screen and (max-width:400px) {
    .page1 h1{
        white-space: wrap;
        font-size:40vw;
       letter-spacing: 0px;
       top:5%;
    }
    .middlesection{
        /* border:1px solid white; */
        flex-direction: column;
gap:2%;
    }
    .page2 h1{
        font-size: 9vw;
    }
    .left{
        padding:4%;
        /* border:1px solid white; */
        width: 100%;
        height:calc(95%/2);
    }
    .left h2{
        font-size: 7vw;
        color:rgb(230, 147, 58);
    }
    #kill{
        font-size: 4vw;
        color:rgb(238, 234, 230);
    }
    .right{
        
        /* border:1px solid white; */
        width: 100%;
        height:calc(95%/2);
    }
    .right img{
        margin-top:-10%;
    }
    .page3 h1{
        font-size:8vw;
    }
    .page3left{
border:1px solid white;
width: 100%;
height: 60%;
padding:2%;
    }
    .page3right{
        border:1px solid white;
        width: 100%;
    }
    .page3right h2{
        font-size:6vw;
        font-weight: 700;
        color:rgb(113, 224, 219);
    }
    .page3right p{
        font-size:3.5vw;
        font-weight: 100;
    
    }
    .page4{
        background-size: cover;
    }
    .img img{
        height:70vw;
        left:-15.0%;
        bottom:-70%;
    }
    .text{
        width: 100%;
        padding:2%;
    }
    .text h2{
        font-size:9vw;
       bottom:0;
       left:5%;
       
    }
    .text p{
        font-size:8vw;
    left:5%;
    }
}
/* responsive csss ends */